{% extends "base.html" %}
{% load static %}

{% block title %}Completed Project 8{% endblock title %}

{% block body %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center">
      <div class="container position-relative d-flex flex-column align-items-center">
        <h2 style="margin-top: 40px;"></h2>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <article class="blog-details">

              <div class="post-img">
                <img src="{% static '../static/assets/img/project_img/auc.png' %}" alt="" class="img-fluid">
              </div>
              <a href="#" target="_blank"> <h2 class="title"> Development of Feasibility Assessment Model for Adaptation of Underground Coal Gasification Technology in the North-East Region of India(AUC)</h2></a>
             

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01">June 2011-June 2014</time></a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
               
                <p>
                  North-East Region has significant coal reserves and geological conditions are conducive for underground coal gasiﬁcation (UCG). Due to very difficult geo-mining conditions, the exploration of these reserves faces acute problems. The mining constraints are mainlyinconsistent seam structure, high inclination, gassiness, weak strata, proneness to self heating,poor slope stability, high and prolonged rain fall, soil erosion and environmental degradation etc.
                </p>
                <p>
                  The UCG is a promising technology as it is a combination of mining, exploitation and gasiﬁcation. The main motivation for moving toward UCG as the future coal utilizing technique is the environmental and other advantages (low cost method, no surface disposal of ash and coal tailings, include increased worker safety, low water consumption low methane emission to atmosphere etc.) over the conventional mining process.
                </p>
                <p>
                  Considering the existing problems of underground coal mines, the following objectives is proposed in this project.
                  <ul>
                    <li>
                      Developing Sensor Network based system to support a gas monitoring and power-cut- off system for underground coal mine and providing audio-visual alarm and automatic power cut-off of the underground mine when concentration of a particular gas exceeds its permissible limit.
                    </li>
                    <li>Developing Sensor Network based system and based on sensor data develop a mathematical model for evaluating methane gas content in the selected coal deposits and feasibility assessment for adaptation of underground coal gasification (UCG) technique.</li>
                    <li>Evaluation of appropriate UCG technologies based on site specific conditions and cost- benefit analysis.</li>
                    <li>Web-enabling of the information, data-base and mathematical model for utilization by different investors to implement UCG technology in the North-East Region of India.</li>
                  </ul>
                </p>

              
                <!-- <h4>The developed Web portal in this project is as follows:</h4><a href="http://ambusens.iitkgp.ac.in/" target="_blank">Ambusens</a> -->
              </div><!-- End post content -->

            </article><!-- End blog post -->

            <div class="post-author d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>Publications</h4>
                <div id="project-publications">
                    <h5>None</h5>
                  </div>
              </div>
            </div><!-- End post author -->

          
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

            <div class="sidebar ps-lg-4">
              <div class="sidebar-item categories">
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Members</h3>

                <div class="mt-3">

                  <div class="post-item mt-3">
                    <img src="{% static '../static/assets/img/members/past_Members/ayan.png' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://cse.iitkgp.ac.in/~ayan.mondal/">Ayan Mondal</a></h4>
                      <time datetime="2020-01-01">M.S. Awarded</time>
                    </div>
                  </div><!-- End recent post item-->

                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/samaresh.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://samareshbera91.wixsite.com/samaresh">Samresh Bera </a></h4>
                      <time datetime="2020-01-01">M.S. Awarded</time>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/Snigdha.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://barunsaha.me/">Snigdha Das</a></h4>
                      <time datetime="2020-01-01">M.S. Awarded</time>
                    </div>
                  </div><!-- End recent post item-->
               
                </div>

              </div><!-- End sidebar recent posts-->

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Sponsors</h3>
                <div class="post-item mt-3">
                  <img  style="margin-top: 15px; object-fit: cover; width: 400px;"  src="{% static '../static/assets/img/sponsors/dit.jpg' %}" alt="" class="flex-shrink-0">
                  <!-- <div>
                    <h4><a href="blog-post.html">MIETY</a></h4>
                    <time datetime="2020-01-01">Ministry of Information</time>
                  </div> -->
                </div><!-- End recent post item-->
                
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->
       
  </main><!-- End #main -->
  {% endblock body %}
  