{% extends "base.html" %}

{% load static %}

{% block title %}Completed Projects 5{% endblock title %}

{% block body %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center">
      <div class="container position-relative d-flex flex-column align-items-center">
        <h2 style="margin-top: 40px;"></h2>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <article class="blog-details">

              <div class="post-img">
                <img src="{% static '../static/assets/img/Products/s-wVirtualLab.png' %}" alt="" class="img-fluid">
              </div>
              <a href="#" target="_blank"> <h2 class="title">Advanced Network Technologies Virtual Lab (VLS-9)</h2></a>
             

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01">March 2010-March 2017</time></a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
               
                <p>
                  Research analysis manifest clear trends of growing interest of the Computer Science students towards e-learning. To keep this trend as well as the pace with the rapid advancement of software technologies the "Advanced Network Technologies Virtual Lab" has been developed. This lab expose students to various advanced topics including Wi-Fi, WiMAX, MANET, WSN, and encourages them to work on related problems in a partially constrained environment. Apart from providing detailed theory on each topic, each "virtual" experiment in the lab has a set of exercises to be solved using remote network simulations. Network Simulator 2 (ns2) and Network Simulator 3 (ns3) have been used for this purpose.

                  This virtual lab also offer benefits such as reduced software and hardware costs for setting up an actual advanced network technology lab, improved learning by interactive visualization, and self-learning advanced network technologies in the absence of a real-life instructor. Additionally, the students can learn at their own pace any time and from any place which has a PC with high speed Internet connectivity.
                </p>

              
                <!-- <h4>The developed Web portal in this project is as follows:</h4><a href="http://ambusens.iitkgp.ac.in/" target="_blank">Ambusens</a> -->
              </div><!-- End post content -->

            </article><!-- End blog post -->

            <div class="post-author d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>Publications</h4>
                <div id="project-publications">
                  <h5>Journal</h5>
                  <ol>
                    <li>B. K. Saha, S. Misra, and M. S. Obaidat, "A web-based integrated environment for simulation and analysis with NS-2," IEEE Wireless Communications, vol. 20, no. 4, pp.109--115, August 2013. (Feature article)</li>
                  </ol>
                  <h5>Conference</h5>
                  <ol>
                    <li>B. Pati, S. Misra, B. K. Saha, "Advanced network technologies virtual lab: a human-computer interface for performing experiments on wireless sensor networks," in Proc. 2012 4th International Conference on Intelligent Human Computer Interaction (IHCI), Kharagpur, India, pp. 1--4, December 2012.</li>
                  </ol>
                  </div>
              </div>
            </div><!-- End post author -->

          
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

            <div class="sidebar ps-lg-4">
              <div class="sidebar-item categories">
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Members</h3>

                <div class="mt-3">

                  <div class="post-item mt-3">
                    <img src="{% static '../static/assets/img/members/past_Members/bpati.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://cse.cvrce.edu.in/hod-s-message.php">Bibudhendu Pati</a></h4>
                      <time datetime="2020-01-01">Ph.D. Awarded</time>
                    </div>
                  </div><!-- End recent post item-->

                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/soumen.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://barunsaha.me/"> Soumen Moulik</a></h4>
                      <time datetime="2020-01-01">PhD Thesis Submitted</time>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/barun_saha.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://barunsaha.me/">Barun Saha</a></h4>
                      <time datetime="2020-01-01">M.S. Awarded</time>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/arijit.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://barunsaha.me/">Arijit Roy</a></h4>
                      <time datetime="2020-01-01">M.S. Awarded, Pursuing Ph.D.</time>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/sujata.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://barunsaha.me/">Sujata Pal</a></h4>
                      <time datetime="2020-01-01">Ph.D. Awarded</time>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/amit.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://barunsaha.me/">Amit Samanta</a></h4>
                      <time datetime="2020-01-01">Pursuing M.S.</time>
                    </div>
                  </div><!-- End recent post item-->
               
                </div>

              </div><!-- End sidebar recent posts-->

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Sponsors</h3>
                <div class="post-item mt-3">
                  <img  style="margin-top: 15px; object-fit: cover; width: 400px;"  src="{% static '../static/assets/img/sponsors/mhrd.png' %}" alt="" class="flex-shrink-0">
                  <!-- <div>
                    <h4><a href="blog-post.html">MIETY</a></h4>
                    <time datetime="2020-01-01">Ministry of Information</time>
                  </div> -->
                </div><!-- End recent post item-->
                
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->
       
  </main><!-- End #main -->

  {% endblock body %}
