{% extends "base.html" %}
{% load static %}

{% block title %}Completed Project 1{% endblock title %}

{% block body %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center">
      <div class="container position-relative d-flex flex-column align-items-center">
        <h2 style="margin-top: 40px;"></h2>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <article class="blog-details">

              <div class="post-img">
                <img src="{% static '../static/assets/img/Products/ambusens.png' %}" alt="" class="img-fluid">
              </div>
              <a href="http://ambusens.iitkgp.ac.in/" target="_blank"> <h2 class="title"> Cloud-Assisted WBAN Based Ubiquitous Healthcare Management System & its Application in Telemedicine (HST)</h2></a>
             

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01">May 2014-May 2017</time></a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>
                    We propose a healthcare system that would allow ubiquitous monitoring of patient's health continuously across the clock. This system thrives on advanced wireless communication technology with body sensor nodes as active participants. These nodes are mounted on a patient's body, sense physical stimulations, and subsequently transform the same into digital readings. Such wireless body sensor networks (WBANs) are capable of providing remote health monitoring in a ubiquitous manner.
                </p>

                <p>
                    The flexibility and availability of such healthcare can be increased if it can be provisioned as an on-demand service to patients. Therefore, we envision to acquire and analyze in real-time the physiological data from multiple WBANs integrated with a cloud framework to provide immediate, on-demand medical support through seamless, location independent procedures. The raw health data concerning a patient's health are transmitted to a cloud of healthcare service providers through a middleware. Health data analytics are continuously executed on the raw data to detect any unusual health condition. Detection of irregularity, if any, is notified immediately to the concerned patient. The healthcare teams also analyze the causative factors behind the abnormality and provide some valuable medical suggestions and feedbacks to the respective patients via the middleware.
                </p>

                <p>
                    Considering the existing problems of ehealthcare services, the following objectives is proposed in this project.
                        <ul>
                            <li>Development of Wireless body area networks (WBANs) comprising of multiple body sensor devices.</li>
                            <li>Development of a middleware to link WBANs to a Cloud infrastructure.</li>
                            <li>Development of a database, and real-time data analytic systems in the cloud framework for continuous monitoring of patients and automated healthcare management.</li>
                            <li>Prototype implementation for proof of concepts.</li>
                        </ul>
              
                </p>
                <h4>The developed Web portal in this project is as follows:</h4><a href="http://ambusens.iitkgp.ac.in/" target="_blank">Ambusens</a>
              </div><!-- End post content -->

            </article><!-- End blog post -->

            <div class="post-author d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>Publications</h4>
                <div id="project-publications">
                   <h5>Patent Filed</h5>
                    <ol>
                      <li> S. Sarkar, S. Chatterjee, S. Misra, E. A. Ansari, D. Ghatak, S. Sarkar, “A Privacy-Aware Ambulatory Healthcare System Using Wireless Body Area Networks (WBANs)”, Indian Patent, File no.: 201631000214, January, 2016.</li>
                    </ol>
                   
                  </div>
              </div>
            </div><!-- End post author -->

          
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

            <div class="sidebar ps-lg-4">
              <div class="sidebar-item categories">
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Members</h3>

                <div class="mt-3">

                  <div class="post-item mt-3">
                    <img src="{% static '../static/assets/img/members/past_Members/pradyumna.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="https://sites.google.com/site/resumepradyumna/home"> Pradyumna Kumar Bishoyi</a></h4>
                      <time datetime="2020-01-01">Pursuing Ph.D.</time>
                    </div>
                  </div><!-- End recent post item-->

                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/Niloy.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="blog-post.html">Niloy Saha</a></h4>
                      <time datetime="2020-01-01">Pursuing Ph.D.</time>
                    </div>
                  </div><!-- End recent post item-->
               
                </div>

              </div><!-- End sidebar recent posts-->

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Sponsors</h3>
                <div class="post-item mt-3">
                  <img  style="margin-top: 15px;"  src="{% static '../static/assets/img/sponsors/mhrd.png' %}" alt="" class="flex-shrink-0">
                  <!-- <div>
                    <h4><a href="blog-post.html">MIETY</a></h4>
                    <time datetime="2020-01-01">Ministry of Information</time>
                  </div> -->
                </div><!-- End recent post item-->
                
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->
       
  </main><!-- End #main -->
  {% endblock body %}
  