{% extends "base.html" %}
{% load static %}

{% block title %}Completed Projets 3{% endblock title %}

{% block body %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center">
      <div class="container position-relative d-flex flex-column align-items-center">
        <h2 style="margin-top: 40px;"></h2>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <article class="blog-details">

              <div class="post-img">
                <img src="{% static '../static/assets/img/project_img/m2m.png' %}" alt="" class="img-fluid">
              </div>
              <a href="#" target="_blank"> <h2 class="title"> Measurement to Management (M2M): Improved Water Use Efficiency and Agricultural Productivity Through Experimental Sensor Network            </h2></a>
             

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01">March 2013-March 2017</time></a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
               
                <p>
                    Unsustainable exploitation of surface and groundwater resources for irrigation with inefficient management practices has resulted in alarming groundwater depletion in many agriculture-dominated watersheds/regions across India. Improved agricultural productivity via increased efficiency in farm practices, choice of crops, and improved irrigation practices are needed to ensure food and fresh water security for growing population. Furthermore, climate variability (episodic droughts and heat waves) and climate change may further increase irrigation water demands while reducing crop yields in future. We aim to address the two grand challenges identified by the Strategy Formulation Meeting (SFM) of the Information Technology Research Academy (ITRA): <br> 1) technological solutions to water quantity and quality issues, <br> 2) groundwater quality and quantity management.
                </p>

                <p>
                    Considering the existing problems of Agricultural Productivity, the following objectives is proposed in this project.
                    <ul>
                       <li> To develop a regional crop monitoring system using the historic and near real-time remotely sensed vegetation index datasets that can monitor crop growth on a weekly basis. </li>
                       <li>To develop a hydrologic modeling framework at watershed and regional scales that can provide estimates of weekly soil moisture (drought maps), evapotranspiration, runoff, and groundwater levels. </li>
                       <li>To use information from experimental sensor network, remote sensing monitoring and sophisticated hydrologic models to develop and test irrigation scheduling and water management system. </li>
                       <li>To evaluate the sensitivity of crop yield towards varying soil, water, and climate conditions taking information of key variables from the field and regional scale monitoring systems that can provide an assessment of potential changes in crop yields and water availability under climatic change conditions. </li>
                    </ul>
                   
                </p>
                <!-- <h4>The developed Web portal in this project is as follows:</h4><a href="http://ambusens.iitkgp.ac.in/" target="_blank">Ambusens</a> -->
              </div><!-- End post content -->

            </article><!-- End blog post -->

            <div class="post-author d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>Publications</h4>
                <div id="project-publications">
                    <h5>Journal</h5>
                   
                    <ol>
                      <li>  T. Ojha, S. Misra, N. S. Raghuwanshi, "Wireless Sensor Networks for Agriculture: The State-of-the-Art in Practice and Future Challenges", Computers and Electronics in Agriculture, vol. 118, pp. 66-84, 2015.[Featured as one of the most downloaded article in this journal]</li>
                    </ol>
                    <h5>Conference</h5>
                   
                    <ol>
                      <li> T. Ojha, S. Bera, S. Misra, and N. S. Raghuwanshi, "Dynamic Duty Scheduling for Green Sensor-Cloud Applications," in Proc. IEEE CloudCom, pp. 841-846, Singapore, December 2014.</li>
                    </ol>
                  </div>
              </div>
            </div><!-- End post author -->

          
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

            <div class="sidebar ps-lg-4">
              <div class="sidebar-item categories">
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Members</h3>

                <div class="mt-3">

                  <div class="post-item mt-3">
                    <img src="{% static '../static/assets/img/members/past_Members/tamo.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://tamoghnaojha.wixsite.com/tamoghna">Thamogna Ojha</a></h4>
                      <time datetime="2020-01-01">Pursuing Ph.D.</time>
                    </div>
                  </div><!-- End recent post item-->

                  <div class="post-item">
                    <img src="{% static '../static/assets/img/members/past_Members/anandarup1.png' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="http://anandarupmukherjee.weebly.com/">Anandarup Mukherjee</a></h4>
                      <time datetime="2020-01-01">Pursuing Ph.D.</time>
                    </div>
                  </div><!-- End recent post item-->
               
                </div>

              </div><!-- End sidebar recent posts-->

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Sponsors</h3>
                <div class="post-item mt-3">
                  <img  style="margin-top: 15px; object-fit: cover; width: 400px;"  src="{% static '../static/assets/img/sponsors/itra.png' %}" alt="" class="flex-shrink-0">
                  <!-- <div>
                    <h4><a href="blog-post.html">MIETY</a></h4>
                    <time datetime="2020-01-01">Ministry of Information</time>
                  </div> -->
                </div><!-- End recent post item-->
                
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->
       
  </main><!-- End #main -->
  {% endblock body %}
  
  