{% extends "base.html" %}

{% load static %}

{% block title %}Ongoing Projects 9{% endblock title %}

{% block body %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center">
      <div class="container position-relative d-flex flex-column align-items-center">
        <h2 style="margin-top: 40px;"></h2>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <article class="blog-details">

              <div class="post-img">
                <img src="{% static '../static/assets/img/project_img/safe.jpg' %}" alt="" class="img-fluid">
              </div>

              <h2 class="title"> SAFE: Secure and Usable IoT Ecosystem</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01">2017-2020</time></a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>
                  The project aims at deploying Internet-of-Things (IoT) platforms to interact with people who require continuous healthcare assistance. The deployment covers two different geographical regions with two vertical IoT platforms customized for sociocultural differences. The project will evelop an end-to-end secure and privacy-preserving data collection and processing framework to comply with local regulations. To truly enable interoperability and harness the benefits of IoT, a trusted horizontal framework will be developed to aggregate the sensed data from different IoT platforms semantically; hence, this ecosystem can be used to develop novel applications to empower the user and communities without violating their privacy rights.
                </p>

               

                <p>Considering the existing problems of ehealthcare services, the following objectives is proposed in this project
                  <ul>
                    <li>Identify and recruit users from two different socio-cultural regions for IoT deployment.</li>
                    <li>End-to-end encrypted platform for secure data collection, transmission, and feedback.</li>
                    <li>User-centric and context-aware data sharing.</li>
                    <li>Data processing and classification.
                    </li>
                    <li>Develop privacy-preserving horizontal IoT ecosystem.</li>
                  </ul>
                  
                </p>
                <div class="workshop-div">
                  <div id="workshop" ><a href="https://cse.iitkgp.ac.in/~smisra/Indo_UK_Workshop/1st/home.html">1st Indo-UK Workshop</a></div>
                  <div id="workshop"  ><a href="https://cse.iitkgp.ac.in/~smisra/Indo_UK_Workshop/2nd/home.html">2nd Indo-UK Workshop</a></div>
                  <div id="workshop" ><a href="https://cse.iitkgp.ac.in/~smisra/Indo_UK_Workshop/schedule1.pdf">1st UK-Indo Workshop</a></div>
                  <div id="workshop" ><a href="https://cse.iitkgp.ac.in/~smisra/Indo_UK_Workshop/schedule2.pdf">2nd UK-Indo Workshop</a></div>
                </div>
               
                
              </div><!-- End post content -->

            </article><!-- End blog post -->

            <div class="post-author d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>Publications</h4>
                <div id="project-publications">
                   <h5>Nil</h5>
                    
                  </div>
              </div>
            </div><!-- End post author -->

          
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

            <div class="sidebar ps-lg-4">
              <div class="sidebar-item categories">
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Members</h3>

                <div class="mt-3">
                    <h5>Project has no provision for recruiting project staff</h5>
                  <!-- <div class="post-item mt-3">
                    <img src="{% static '../static/assets/img/members/Atonu.jpg' %}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="blog-post.html">Antonu Ghosh</a></h4>
                      <time datetime="2020-01-01">Pursuing Ph.D.</time>
                    </div>
                  </div> -->
                  <!-- End recent post item-->

                 

                </div>

              </div><!-- End sidebar recent posts-->

              <div class="sidebar-item tags">
                <h3 class="sidebar-title">Sponsors</h3>
                <div class="post-item mt-3">
                  <img  style="margin-top: 15px;"  src="{% static '../static/assets/img/sponsors/ukieri.jpg' %}" alt="" class="flex-shrink-0">
                  <!-- <div>
                    <h4><a href="blog-post.html">MIETY</a></h4>
                    <time datetime="2020-01-01">Ministry of Information</time>
                  </div> -->
                </div><!-- End recent post item-->
                
              </div><!-- End sidebar tags-->

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->
       
  </main><!-- End #main -->
  {% endblock body %}
  
