{% extends "base.html" %}
{% load static %}
{% block title %}Completed Projects   {% endblock title %}

{% block body %}
  <main id="main">

        <h1 id="projects_title">Completed Projects</h1>
        <!-- Ongoing Projects Section -->
        <section id="ong-projects" class="ong-projects section">

            <div class="container">
              <div class="row">
                <!-- project-1 -->
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="ong-project">
                    <a href="/completed-1">
                      <img src="{% static 'assets/img/Products/ambusens.png' %}" class="img-fluid"  h-9 w-10 alt="...">
                    </a>
                    <div class="ong-project-content">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <p class="category">Cloud-Assisted WBAN Based Ubiquitous Healthcare Management System & its Application in Telemedicine (HST)</p>   
                      </div>

                      <div class="trainer d-flex justify-content-between align-items-end">
                        <div class="trainer-profile d-flex ">
                          <img src="{% static 'assets/img/sponsors/mhrd.png' %}" class="img-fluid" alt="">
                          <a href="" class="trainer-link">MHRD</a>
                        </div>
                        <div class="trainer-rank d-flex align-items-center">
                          2014-2017
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- End Project Item-->
                
                <!-- project-2 -->
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="ong-project">
                      <a href="/completed-2">
                      <img  id="tribe-img" src="{% static 'assets/img/Products/agrisens.png' %}" class="img-fluid" h-9 w-10 alt="...">
                      </a>
                      <div class="ong-project-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <p class="category">Development of a Sensor based Networking System for Improved Water Management for Irrigated Crops (WMI)</p>
                          
                        </div>
  
                       
                        <div class="trainer d-flex justify-content-between align-items-center">
                          <div class="trainer-profile d-flex align-items-center">
                            <img src="{% static 'assets/img/sponsors/mhrd.png' %}" class="img-fluid" alt="">
                            <a href="" class="trainer-link">MHRD</a>
                          </div>
                          <div class="trainer-rank d-flex align-items-center">
                          
                            2014-2017
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- End ong-project Item-->
      
                  <!-- Project-3 -->
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="ong-project">
                      <a href="/completed-3">
                      <img src="{% static 'assets/img/project_img/m2m.png' %}" class="img-fluid"  h-9 w-10  alt="...">
                      </a>
                      <div class="ong-project-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <p class="category"> Measurement to Management (M2M): Improved Water Use Efficiency and Agricultural Productivity Through Experimental Sensor Network</p>
                          
                        </div>
 
                        <div class="trainer d-flex justify-content-between align-items-center">
                          <div class="trainer-profile d-flex align-items-center">
                            <img src="{% static 'assets/img/sponsors/itra.png' %}" class="img-fluid" alt="">
                            <a href="" class="trainer-link">ITRA</a>
                          </div>
                          <div class="trainer-rank d-flex align-items-center">
                            2013-2017
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- End ong-project Item-->

                  <!-- project-4 -->
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="ong-project">
                      <a href="/completed-4">
                      <img src="{% static 'assets/img/Products/s-wVirtualLab.png' %}" class="img-fluid"  h-9 w-10  alt="...">
                      </a>
                      <div class="ong-project-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <p class="category">Software Engineering Virtual Lab (VLS-10)</p>
                          
                        </div>
 
                        <div class="trainer d-flex justify-content-between align-items-center">
                          <div class="trainer-profile d-flex align-items-center">
                            <img src="{% static 'assets/img/sponsors/mhrd.png' %}" class="img-fluid" alt="">
                            <a href="" class="trainer-link">MHRD</a>
                          </div>
                          <div class="trainer-rank d-flex align-items-center">
                           
                            2010-2017
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- End ong-project Item-->

                  <!-- Project-5 -->
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="ong-project">
                      <a href="/completed-5">
                      <img src="{% static 'assets/img/Products/advVL.png' %}" class="img-fluid"  h-9 w-10  alt="...">
                      </a>
                      <div class="ong-project-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <p class="category">Advanced Network Technologies Virtual Lab (VLS-9)</p>
                          
                        </div>
 
                        <div class="trainer d-flex justify-content-between align-items-center">
                          <div class="trainer-profile d-flex align-items-center">
                            <img src="{% static 'assets/img/sponsors/mhrd.png' %}" class="img-fluid" alt="">
                            <a href="" class="trainer-link">MHRD</a>
                          </div>
                          <div class="trainer-rank d-flex align-items-center">
                           
                            2010-2017
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- End ong-project Item-->

                  <!-- project-6 -->
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="ong-project">
                      <a href="/completed-6">
                      <img src="{% static 'assets/img/project_img/fnd.jpg' %}" class="img-fluid"  h-9 w-10 alt="...">
                      </a>
                      <div class="ong-project-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <p class="category">An Indigenous Framework for Authenticity, Integrity and Non-Repudiation in Data Communication (FND)</p>
                          <!-- <p class="price">2020-2023</p> -->
                        </div>
  <!--       
                        <h3><a href="ong-project-details.html">Website Design</a></h3>
                        <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p> -->
                        <div class="trainer d-flex justify-content-between align-items-center">
                          <div class="trainer-profile d-flex align-items-center">
                            <img src="{% static 'assets/img/sponsors/drdo.jpg' %}" class="img-fluid" alt="">
                            <a href="" class="trainer-link">DRDO</a>
                          </div>
                          <div class="trainer-rank d-flex align-items-center">
                            <!-- <i class="bi bi-person user-icon"></i>&nbsp;50
                            &nbsp;&nbsp;
                            <i class="bi bi-heart heart-icon"></i>&nbsp;65 -->
                            2015-2018
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- End ong-project Item-->
        
                    <!-- Project-7 -->
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="ong-project">
                      <a href="/completed-7">
                      <img src="{% static 'assets/img/project_img/alb.png' %}" class="img-fluid"  h-9 w-10  alt="...">
                      </a>
                      <div class="ong-project-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <p class="category">Adaptive Learning-Based Fault Tolerant Routing in Wireless Adhoc and Sensor Networks (ALB)</p>
                          <!-- <p class="price">2020-2023</p> -->
                        </div>
  <!--       
                        <h3><a href="ong-project-details.html">Website Design</a></h3>
                        <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p> -->
                        <div class="trainer d-flex justify-content-between align-items-center">
                          <div class="trainer-profile d-flex align-items-center">
                            <img src="{% static 'assets/img/sponsors/csir.png' %}" class="img-fluid" alt="">
                            <a href="" class="trainer-link">CSIR</a>
                          </div>
                          
                          <div class="trainer-rank d-flex align-items-center">
                            <!-- <i class="bi bi-person user-icon"></i>&nbsp;50
                            &nbsp;&nbsp;
                            <i class="bi bi-heart heart-icon"></i>&nbsp;65 -->
                            2010-2013
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- End ong-project Item-->
                  
                  <!-- project-8 -->
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                      <div class="ong-project">
                        <a href="/completed-8">
                        <img id="tribe-img" src="{% static 'assets/img/project_img/auc.png' %}" class="img-fluid"  h-9 w-10  alt="...">
                        </a>
                        <div class="ong-project-content">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="category"> Development of Feasibility Assessment Model for Adaptation of Underground Coal Gasification Technology in the North-East Region of India(AUC)</p>
                            <!-- <p class="price">2020-2023</p> -->
                          </div>
    <!--       
                          <h3><a href="ong-project-details.html">Website Design</a></h3>
                          <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p> -->
                          <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                              <img src="{% static 'assets/img/sponsors/dit.jpg' %}" class="img-fluid" alt="">
                              <a href="" class="trainer-link">DIT</a>
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                              <!-- <i class="bi bi-person user-icon"></i>&nbsp;50
                              &nbsp;&nbsp;
                              <i lass="bi bi-heart heart-icon"></i>&nbsp;65 -->
                              2011-2014
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> <!-- End ong-project Item-->
        
                    <!-- Project-9 -->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                      <div class="ong-project">
                        <a href="/completed-9">
                        <img src="{% static 'assets/img/Products/jaltarang_localization_gui.png' %}" class="img-fluid"  h-9 w-10  alt="...">
                        </a>
                        <div class="ong-project-content">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="category">Towards Robust Efficient and Secure Data Acquisition in Underwater Sensor Networks (TRE)</p>
                            <!-- <p class="price">2020-2023</p> -->
                          </div>
    <!--       
                          <h3><a href="ong-project-details.html">Website Design</a></h3>
                          <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p> -->
                          <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                              <img src="{% static 'assets/img/sponsors/dit.jpg' %}" class="img-fluid" alt="">
                              <a href="" class="trainer-link">DIT</a>
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                              <!-- <i class="bi bi-person user-icon"></i>&nbsp;50
                              &nbsp;&nbsp;
                              <i class="bi bi-heart heart-icon"></i>&nbsp;65 -->
                              2010-2023
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> <!-- End ong-project Item-->
  
                    <!-- Project-10 -->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                      <div class="ong-project">
                        <a href="/completed-10">
                        <img src="{% static 'assets/img/project_img/wpm.png' %}" class="img-fluid"  h-9 w-10  alt="...">
                        </a>
                        <div class="ong-project-content">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="category">Target Tracking in Distributed Wireless Sensor Networks in the Presence of Misbehaving Nodes (WPM)</p>
                            <!-- <p class="price">2020-2023</p> -->
                          </div>
    <!--       
                          <h3><a href="ong-project-details.html">Website Design</a></h3>
                          <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p> -->
                          <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                              <img src="{% static 'assets/img/sponsors/isird.png' %}" class="img-fluid" alt="">
                              <a href="" class="trainer-link">ISIRD</a>
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                              <!-- <i class="bi bi-person user-icon"></i>&nbsp;50
                              &nbsp;&nbsp;
                              <i class="bi bi-heart heart-icon"></i>&nbsp;65 -->
                              2011-2014
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> <!-- End ong-project Item-->

          
               
      
              </div>
      
            </div>
      
          </section><!--End Ongoing Projects--> 
  </main>
  <!-- End #main -->


  {% endblock body %}