{% extends "base.html" %}
{% load static %}

{% block title %}Current Members{% endblock title %}
{% block body %}
  <main id="main">
    <!-- current Members section-->
    <section id="team" class="team">
      <div class="container-currentMembrs">
        <h3 id="current-members-titles">Current Members</h3>

        <!-- Guide -->
        <div id="guide">
          {% for member in members %}
            {% if member.designation == 'Guide' %}
              <div class="team-member">
                <div class="thumbnail">
                  <img src="{{ member.photo.url }}" alt="{{ member.name }}">
                </div>
                <div class="member-info">
                  <div class="member-meta">
                    <span class="title">{{ member.designation }}</span>
                  </div>
                  <h3 class="name">{{ member.name }}</h3>
                  <div class="social-links">
                    {% if member.twitter %}<a target="_blank"href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>{% endif %}
                    {% if member.facebook %}<a target="_blank"href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>{% endif %}
                    {% if member.linkedin %}<a target="_blank" href="{{ member.linkedin }}"><i class="bi bi-linkedin"></i></a>{% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- End Guide -->

        <!-- Visiting Prof -->
        <div id="visitProf">
          {% for member in members %}
            {% if member.designation == 'Visiting Professor' %}
              <div class="team-member">
                <div class="thumbnail">
                  <img src="{{ member.photo.url }}" alt="{{ member.name }}">
                </div>
                <div class="member-info">
                  <div class="member-meta">
                    <span class="title">{{ member.designation }}</span>
                  </div>
                  <h3 class="name">{{ member.name }}</h3>
                  <div class="social-links">
                    {% if member.twitter %}<a target="_blank" href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>{% endif %}
                    {% if member.facebook %}<a target="_blank" href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>{% endif %}
                    {% if member.linkedin %}<a target="_blank" href="{{ member.linkedin }}"target="_blank"><i class="bi bi-linkedin"></i></a>{% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- End Visiting Prof -->

        <!-- Post-Doc Students -->
        <h1 id="current-members-titles" style="text-align: center; margin-bottom: 50px;">Post-Doc Students</h1>
        <div class="team-members">
          {% for member in members %}
            {% if member.designation == 'Post-Doc Student' %}
              <div class="team-member">
                <div class="thumbnail">
                  <img class="current-members-imgs" src="{{ member.photo.url }}" alt="{{ member.name }}">
                </div>
                <div class="member-info">
                  <h3 class="name">{{ member.name }}</h3>
                  <div class="social-links">
                    {% if member.twitter %}<a target="_blank" href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>{% endif %}
                    {% if member.facebook %}<a target="_blank" href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>{% endif %}
                    {% if member.linkedin %}<a target="_blank" href="{{ member.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>{% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- End Post-Doc Students -->

        <!-- Ph.D. Students -->
        <h1 id="current-members-titles" style="text-align: center;">Ph.D. Students</h1>
        <div class="team-members">
          {% for member in members %}
            {% if member.designation == 'Ph.D. Student' %}
              <div class="team-member">
                <div class="thumbnail">
                  <img class="current-members-imgs" src="{{ member.photo.url }}" alt="{{ member.name }}">
                </div>
                <div class="member-info">
                  <h3 class="name">{{ member.name }}</h3>
                  <div class="social-links">
                    {% if member.twitter %}<a target="_blank" href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>{% endif %}
                    {% if member.facebook %}<a target="_blank" href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>{% endif %}
                    {% if member.linkedin %}<a target="_blank" href="{{ member.linkedin }}"><i class="bi bi-linkedin"></i></a>{% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- End Ph.D. Students -->

        <!-- M.S. Students -->
        <h1 id="current-members-titles" style="text-align: center; margin-bottom: 50px;">M.S. Students</h1>
        <div class="team-members">
          {% for member in members %}
            {% if member.designation == 'M.S. Student' %}
              <div class="team-member">
                <div class="thumbnail">
                  <img class="current-members-imgs" src="{{ member.photo.url }}" alt="{{ member.name }}">
                </div>
                <div class="member-info">
                  <h3 class="name">{{ member.name }}</h3>
                  <div class="social-links">
                    {% if member.twitter %}<a target="_blank" href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>{% endif %}
                    {% if member.facebook %}<a target="_blank" href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>{% endif %}
                    {% if member.linkedin %}<a target="_blank" href="{{ member.linkedin }}"><i class="bi bi-linkedin"></i></a>{% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- End M.S. Students -->

      </div>
    </section>
  </main>
{% endblock body %}
