{% extends "base.html" %}

{% load static %}

{% block title %}Gallery{% endblock title %}

{% block body %}
  <main id="main">
    
  <!-- ======= Gallery Section ======= -->
  <section id="gallery">
    <div data-aos="fade-up">
        <div id="gallery-header">
            <h2>Gallery</h2>
            <p>Check our gallery from the recent events</p>
        </div>
    </div>

    <div id="gallery-slider" class="swiper">
        <div class="swiper-wrapper align-items-center">
            {% for image in images %}
                <div class="swiper-slide">
                    <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.description }}">
                </div>
            {% endfor %}
        </div>
        <!-- Add Arrows -->
        <div id="gallery-arrows" class="swiper-button-next"></div>
        <div id="gallery-arrows" class="swiper-button-prev"></div>
    </div>
</section>
<section id="group-pic">
  <img src="assets/img/gallery/2.jpg" alt="">
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var swiper = new Swiper('.swiper', {
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      slidesPerView: 3, // Display three slides at a time
      centeredSlides: true, // Center the active slide
      spaceBetween: 30, // Adjust space between slides
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>



  </main><!-- End #main -->

  {% endblock body %}
  