{% extends "base.html" %}
{% load static %}

{% block title %}Past Members{% endblock title %}
{% block body %}
  <main id="main">
    <!-- Past Members section-->
    <section id="team" class="team">
      <div class="container-pastMembrs">
        <h3 id="past-members-titles" style="text-align: center; margin-bottom: 50px;">Past Members</h3>

        <!-- Post-Doc Researchers -->
        <h1 id="past-members-titles" style="text-align: center; margin-bottom: 50px;">Post-Doc Researchers</h1>
        <div class="team-members">
          {% for member in members %}
            {% if member.designation == 'Post-Doc Student' %}
              <div class="team-member">
                <div class="thumbnail">
                  <img class="past-members-imgs" src="{{ member.photo.url }}" alt="{{ member.name }}">
                </div>
                <div class="member-info">
                  <h3 class="name">{{ member.name }}</h3>
                  <div class="social-links">
                    {% if member.twitter %}<a target="_blank" href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>{% endif %}
                    {% if member.facebook %}<a target="_blank" href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>{% endif %}
                    {% if member.linkedin %}<a target="_blank" href="{{ member.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>{% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- End Post-Doc Researchers -->
        <!-- P.h.D-->
        <h1 id="current-members-titles" style="text-align: center;">Ph.D. Students</h1>
        <div class="team-members">
          {% for member in members %}
            {% if member.designation == 'Ph.D. Student' %}
              <div class="team-member">
                <div class="thumbnail">
                  <img class="current-members-imgs" src="{{ member.photo.url }}" alt="{{ member.name }}">
                </div>
                <div class="member-info">
                  <h3 class="name">{{ member.name }}</h3>
                  <div class="social-links">
                    {% if member.twitter %}<a target="_blank" href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>{% endif %}
                    {% if member.facebook %}<a target="_blank" href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>{% endif %}
                    {% if member.linkedin %}<a target="_blank" href="{{ member.linkedin }}"><i class="bi bi-linkedin"></i></a>{% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- M.S. (by Research) Students -->
        <h1 id="past-members-titles" style="text-align: center; margin-bottom: 50px;">M.S. (by Research) Students</h1>
        <div class="team-members">
          {% for member in members %}
            {% if member.designation == 'M.S. Student' %}
              <div class="team-member">
                <div class="thumbnail">
                  <img class="past-members-imgs" src="{{ member.photo.url }}" alt="{{ member.name }}">
                </div>
                <div class="member-info">
                  <h3 class="name">{{ member.name }}</h3>
                  <div class="social-links">
                    {% if member.twitter %}<a target="_blank" href="{{ member.twitter }}"><i class="bi bi-twitter"></i></a>{% endif %}
                    {% if member.facebook %}<a target="_blank" href="{{ member.facebook }}"><i class="bi bi-facebook"></i></a>{% endif %}
                    {% if member.linkedin %}<a target="_blank" href="{{ member.linkedin }}"><i class="bi bi-linkedin"></i></a>{% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- End M.S. (by Research) Students -->

      </div>
    </section>
  </main>
{% endblock body %}
