 {% extends "base.html" %}

 {% block title %}Sponsors{% endblock title %}

{% block body %}
  <main id="main">
    
        <!-- ======= Our Services Section ======= -->
        <section id="services-list" class="services-list">
            <div class="container" data-aos="fade-up">
      <h1>

      </h1>
              <div id="sponsors-header">
                <h2>Sponsors</h2>
              </div>
      
              <div class="row gy-5">
      
                <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                  <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/miety.png" alt=""></div>
                  <div id="spons-description">
                    <h4 class="title"><a href="#" class="stretched-link">MEITY</a></h4>
                    <p >Ministry of Electronics and Information Technology (MEITY), Govt. of India.</p>
                  </div>
                </div>
                <!-- End Service Item -->

                
                <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/imprint-ii.jpg" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">(IMPRINT)-II</a></h4>
                      <p >Impacting Research Innovation and Technology </p>
                    </div>
                  </div>
                  <!-- End Service Item -->

                  
                <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/inae.jpg" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">INAE</a></h4>
                      <p > Indian National Academy of Engineering</p>
                    </div>
                  </div>
                  <!-- End Service Item -->

                  
                <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/cefipra.png" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link"> IFCPAR/CEFIPRA</a></h4>
                      <p >Indo-French Centre for the Promotion of Advanced Research</p>
                    </div>
                  </div>
                  <!-- End Service Item -->

                  
                <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/dhi.png" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">DHI</a></h4>
                      <p> Department of Heavy Industries , Govt. of India.</p>
                    </div>
                  </div>
                  <!-- End Service Item -->

                  
                <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/ukieri.jpg" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">UKIERI</a></h4>
                      <p >UK-India Education and Research Initiative</p>
                    </div>
                  </div>
                  <!-- End Service Item -->

                  
                <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/drdo.jpg" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">DRDO</a></h4>
                      <p >Defence Research and Development Organisation, Govt. Of India</p>
                    </div>
                  </div>
                  <!-- End Service Item -->

                  <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/mhrd.png" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">MHRD</a></h4>
                      <p > Ministry of Human Resource Development, Govt. Of India</p>
                    </div>
                  </div>
                  <!-- End Service Item -->
                
                  <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/itra.png" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">ITRA</a></h4>
                      <p >Information Technology Research Academy, Media Lab Asia</p>
                    </div>
                  </div>
                  <!-- End Service Item -->

                  <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/dit.jpg" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">DIT</a></h4>
                      <p >Department of Information Technology, Govt. of India.</p>
                    </div>
                  </div>
                  <!-- End Service Item -->

                  <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/isird.png" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">ISIRD</a></h4>
                      <p > Institute Scheme for Innovative Research and Development, SRIC, IIT Kharagpur</p>
                    </div>
                  </div>
                  <!-- End Service Item -->
                  <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/csir.png" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">CSIR</a></h4>
                      <p > Council of Scientific and Industrial Research</p>
                    </div>
                  </div>
                  <!-- End Service Item -->
                  <div id="sponsor-item"  class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div id="sponsor-img" class="icon flex-shrink-0"><img src="assets/img/sponsors/dst.jpg" alt=""></div>
                    <div id="spons-description">
                      <h4 class="title"><a href="#" class="stretched-link">DST</a></h4>
                      <p >Department of Science and Technology, Government of India,SERC Fast Track Project for Young Scientists.</p>
                    </div>
                  </div>
                  <!-- End Service Item -->
      
               
              </div>
      
            </div>
          </section><!-- End Our Services Section -->     
  </main><!-- End #main -->
  {% endblock body %}
  